@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

// EXAMPLE

// .cards-list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     &__img {
//       object-fit: cover;
//       @include for-size(phone) {
//         height: 200px;
//       }

//       @include for-size(tablet) {
//         height: 185px;
//       }
