//colors
$main-dark-color: #2c49d3;
$main-light-color: #ffffff;
$bg-light-color: #edf0f2;
$text-dark-color: #000000;
$text-light-color: #51566b;
$progress-light-color: #95a4e9;
$progress-semi-color: #566ddc;
$progress-accent-color: #96edf8; //for round progress-bar

//fonts
$main-font: "GothamPro", sans-serif;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-light: 300;
//fonts sizes
//for mobile
$big-title-size: 25px;
$small-title-size: 20px;
$subtitle-size: 11px;
$footer-text-size: 9px;
$small-text-size: 12px;
$medium-text-size: 13px;
$big-text-size: 15px;
$big-numbers-size: 30px;
//for tablet
$tablet-medium-text-size: 17px;
//for desktop
$desctop-big-title-size: 60px;
$desktop-small-title-size: 45px;
$desktop-small-title-video-size: 35px;
